
{% extends "polls/base.html" %}

{% block content %}
<div class="jumbotron vertical-center">
<div class = "container">
    <div class = "span12">
<div class="col-md-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>Open Polls</h3>
                </div>
                <div class="panel-body two-col">
                  {% if latest_question_list %}
                  {% for question in latest_question_list %}
                    <div class="row">


                            <div class="well well-sm">
                              <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }} </a>
                              <div class="text-right"><a href="{% url 'polls:detail' question.id %}"><button type="button" class="btn btn-success">This Poll is open</button></a></div>
                            </div>



                    </div>
                    {% endfor %}
                    {% else %}
                      <p>No polls are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
</div>

</div>
{% endblock %}
